#sb-button {
    display: none;
  }

/* FAST BOOKING */
#sb-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999999;
  }
  
  .sb__btn.sb__btn--block.sb__btn--verify.sb-custom-button-color.sb-custom-button-bg-color.sb-custom-button-hover-bg-color {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -o-border-radius: 0px !important;
  }
  
  .sb-screen-xs .sb__form-field--checkin .sb__form-field-input {
    border-radius: 0px !important;
  }
  
  .sb-screen-xs .sb__form-field--checkout .sb__form-field-input {
    border-radius: 0px !important;
  }
  
  .sb__form-field-input, .sb__btn {
    border-radius: 0px !important;
  }
  
  .sb__footer {
    height: 0px;
  }
  
  .sb__footer-actions {
    display: none;
  }
  
  .st0 {
    fill: #877542 !important;
    stroke: #877542 !important;
    stroke-width: 0.1 !important;
  }
  
  #sb-container .sb__calendar-day--checkin:hover::before,
  #sb-container .sb__calendar-day--checkout:hover::before {
    border-color: transparent transparent rgba(0, 0, 0, 0) !important;
  }
  
  #sb-container .sb__calendar-day--valid.sb__calendar-day--range.sb__calendar-day--valid:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  }
  
  .sb__calendar-day.sb__calendar-day--valid.is-today.sb__calendar-day--checkin.intent-selection,
  .sb__calendar-day.sb__calendar-day--valid.sb__calendar-day--checkout.intent-selection,
  #sb-container .sb__calendar-day.sb__calendar-day--valid.sb__calendar-day--range.intent-selection,
  #sb-container .sb__calendar-day--valid.sb__calendar-day--range,
  #sb-container .sb__guests-children-age-select.sb-custom-color.sb-custom-bg-color.sb-custom-box-shadow-color {
    color: #ffffff !important;
  }
  
  .sb-screen-l .sb__form-field-input {
    padding: 16px 16px 16px 16px !important;
    height: 46px;
  }
  
  .sb-screen-l .sb__btn--verify {
    height: 46px;
    padding: 15px 8px 16px 8px;
  }
  
  #sb-container #sb-container_sb__form .focus .sb-custom-box-shadow-color-focus {
    box-shadow: #877542 0px 0px 0px 1px inset !important;
  }
  
  #sb-container #sb-container_sb__form-field--checkavailability:hover {
    background-color: #877542 !important;
  }
  
  #sb-container #sb__guests_0 {
    color: #877542 !important;
  }
  
  #sb-container #sb__guests_0 {
    background-color: #ffffff !important;
  }
  
  #sb-container #sb__guests_0 .sb-custom-button-hover-bg-color:hover {
    background-color: #877542 !important;
  }
  
  #sb-container #sb__guests_0 .sb-custom-widget-element-hover-color:hover {
    color: #877542 !important;
  }
  
  .sb-screen-l .sb__form-field-date-number, .sb__calendar-day, .sb__guests-adults-label, .sb__guests-children-label, .sb__calendar-weekdays li, .sb__guests-room-label, .number-of-months-vertical .sb__calendar-month-name, .sb button, .sb input, .sb__form-field-label, .sb__form-field-month-year, .sb__form-field-guests, .sb-screen-l .sb__form-field-weekday, .sb-screen-l .sb__form-field-rooms {
    font-family: 'NewBaskervilleITCPro-Roman', Helvetica, Arial, sans-serif !important;
  }
  
  #sb-container_sb__form-field--checkavailability {
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1px;
  }
  
  .sb-screen-l .sb__form-field-month-year, .sb-screen-l .sb__form-field-guests {
    font-size: 16px !important;
  }
  
  .sb__form-field-label, .sb-screen-l .sb__form-field-weekday, .sb-screen-l .sb__form-field-rooms {
    font-size: 13px !important;
    letter-spacing: 0.5px !important;
  }
  
  .sb {
    max-width: none !important;
  }
  
  .sb__form {
    margin: 0 auto !important;
    max-width: 1600px;
  }
  
  #sb-container {
    animation: 2s slide-up;
    animation-timing-function: linear;
  }


.sb__calendar-day.sb__calendar-day--valid.is-today.sb__calendar-day--checkin.intent-selection, .sb__calendar-day.sb__calendar-day--valid.sb__calendar-day--checkout.intent-selection, #sb-container .sb__calendar-day.sb__calendar-day--valid.sb__calendar-day--range.intent-selection, #sb-container .sb__calendar-day--valid.sb__calendar-day--range, #sb-container .sb__guests-children-age-select.sb-custom-color.sb-custom-bg-color.sb-custom-box-shadow-color {
	color: #a59465 !important;
}
  
  @keyframes slide-up {
    from {
      bottom: -300px;
    }
    to {
      bottom: 0px;
    }
  }
  
  @keyframes slide-up-two {
    from {
      bottom: -26px;
    }
    to {
      bottom: 274px;
    }
  }
  
  .sb-screen-m .sb__dates {
    width: calc( 50%) !important;
  }
  
  .sb-screen-xs .sb__dates .sb__form-field {
    width: calc( 50% - 11px) !important;
  }
  
  @media only screen and (min-width: 1215px) {
    #sb-container {
      display: block !important;
    }
    .sb-screen-m .sb__guests-rooms {
      width: 24% !important;
    }
    .sb-screen-l .sb__btn--verify {
      width: 24% !important;
    }
    #sb-container_sb__form-field--checkavailability {
      margin-left: 16px;
    }
    #sb-container_sb-container_sb__form-field--checkin {
      margin-right: 22px;
    }
    #sb-container_sb__form-field--checkin {
      margin-right: 22px;
    }
    #sb-container_sb__form {
      margin-left: 10px;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    #rpb {
      padding: 5px 5px !important;
    }
    #sb-button {
        display: block;
      width: 100%;
      height: 44px;
      position: fixed;
      bottom: 44px;
      background-color: #877542;
      z-index: 99999;
    }
    .sb-button-div {
      text-align: center;
      height: 100%;
    }
    .sb-button-span {
      color: #ffffff;
      line-height: 44px;
    }
    .sb-button-arrow {
      line-height: 22px !important;
      font-size: 22px !important;
      font-family: FontAwesome !important;
      opacity: 1;
      position: relative;
      display: inline-block;
      margin-left: 16px;
      top: 2px;
      overflow: visible;
      height: 26px;
      width: 26px;
      text-align: center;
    }
    .sb-button-arrow::before {
      content: "\f106";
      color: #ffffff;
      top: -2px;
      right: -1px;
      display: block;
      transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
      -webkit-transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
      position: relative;
    }
    .sb-button-arrow::after {
      display: block;
      content: ' ';
      position: absolute;
      width: 26px;
      height: 1px;
      background-color: #ffffff;
      opacity: 0;
      left: -6px;
      cursor: pointer;
      transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
      -webkit-transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
      pointer-events: none;
      top: 11px;
      transform: translateX(-27px);
      -webkit-transform: translateX(-27px);
    }
    #sb-button.collapse {
      bottom: 274px;
      height: 20px;
      animation: 2s slide-up-two;
      animation-timing-function: linear;
    }
    #sb-button.collapse .sb-button-arrow {
      font-size: 18px !important;
      top: -2px;
    }
    #sb-button.collapse .sb-button-arrow::before {
      content: "\f107";
    }
    #sb-button.collapse .sb-button-span {
      display: none;
    }
    .sb {
      padding: 20px !important;
      margin-bottom: 44px !important;
    }
    .sb__form-field--checkin {
      margin-right: 22px;
    }
    #sb-container_sb__form-field--checkavailability {
      width: calc(100%);
    }
  }

  
  
  @media only screen and (max-width: 782px) {
    .cookie-notice-container {
      padding-bottom: 54px;
    }
  }
  
  @media only screen and (max-width: 420px) {
    .sb__form-field-weekday {
      display: none !important;
    }
  }
  

/* SIMPLE BOOKING */
/* sfondo */
.sb-body #sb-container .sb-custom-bg-color {
    background-color: #F6F6F6 !important;
}

/* margine bordo input field */
.sb-body  .sb__form-field-input.sb-custom-box-shadow-color.sb-custom-box-shadow-color-hover.sb-custom-box-shadow-color-focus.sb-custom-field-bg-color {
    border: 1px solid #302B25 !important;
}
.sb-body #sb-container .sb-custom-box-shadow-color {
    border-color: #302B25 !important;
}

/* bottone destro */
.sb-body #sb-container #sb-container_sb__form-field--checkavailability {
    background-color: #302B25 !important;
}

/* icone */
#chevron-down .st0, #calendar .st0 {
    fill: #302B25 !important;
    stroke: #302B25 !important;
}
.sb-body #sb-container .sb-custom-icon-color {
    fill: #302B25 !important;
    color: #302B25 !important;
}
.sb-body #sb-container #sb-container_sb__form-field--checkavailability:hover {
    background-color: #302B25 !important;
}

/* label */
.sb-body #sb-container .sb-custom-label-color {
    color: #302B25 !important;
}
.sb-body #sb-container .sb-custom-color {
    color: #302B25 !important;
}